body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_home_user {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.main_home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.main_home h2 {
    color: blue;
    font-size: 2vw;
}

.main_home_user h2 {
    color: blue;
    font-size: 2vw;
}