body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

main h2 {
    color: blue;
    font-size: 2vw;
}