* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg,rgba(5, 22, 255, 1) 0%, rgba(87, 199, 147, 1) 50%, rgba(83, 96, 237, 1) 100%);;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(143, 162, 248);
    padding: 5vw;
    border-radius: 20px;
}

main h1 {
    font-size: 2vw;
    color:#007BFF;
}

main a {
    text-decoration: none;
    color: #3d588e;
    cursor: pointer;
}

main a:hover {
    color: #004A99;
}