/* MainPage.css */
.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f0f8ff; /* Очень светлый голубой фон */
  min-height: 100vh;
}

.main-header {
  background-color: #0288d1; /* Синий */
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-menu a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  border-radius: 0px;
}

.main-footer {
  background-color: #0288d1; /* Синий */
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}